@tailwind base;
@tailwind components;
@tailwind utilities;

.circulo-g{
    box-shadow: inset 0px 180px 150px 0px rgba(255, 255, 255, 0.1);
}
.circulo-m{
    box-shadow: inset 0px 0px 0px 400px rgba(95, 95, 95, 0.1);
}
.cuadrado-min{
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}